
/* OAI Elements */

h1,
h2,
h3,
h4,
h5,
h6 {
	display: block;
	font-weight: 400;
	margin-bottom: .75em;
	line-height: 1.36;
	text-align: center;
}

h2 {
	font-size: 3em;
}

h3 {
	display: block;
	font-size: 2.5em;
	font-weight: 400;
	margin-bottom: .75em;
	line-height: 1.36;
}

p {
	font-size: 1.3125em;
	font-weight: 300;
	line-height: 1.6;
	margin-bottom: 2.25em;
}

@media (min-width: 48em) {

	h2 {
		font-size: 4.25em;
	}

	h3 {
		font-size: 3.75em;
	}

}